<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>[[title]]</title>
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/page1.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<!--大标题-->
				<div class="row info-title">
					<div class="col-md-10 col-md-offset-1">
						<h3>SHANGHAI</h3>
						<h1 class="text-right">上海市信息大数据实时情况</h1>
						<h3 class="text-right">REAL-TIME BIG DATA INFORMATION</h3>
						<h3 class="text-right">VISUALIZATION</h3>
					</div>
				</div>
				<!--//大标题-->
				<!--二维码-->
				<div class="row QR-Code">
					<div class="col-md-4 col-md-offset-3">
						<div class="col-md-8">
							<h5>请扫描二维码</h5>
							<h4>登陆</h4>
						</div>
						<div class="col-md-4">
							<img src="" alt="二维码扫描" style="width:120px;height:120px;">
						</div>
					</div>
				</div>
				<!--//二维码-->
			</div>
			<div class="col-md-6">
				<!--订单业务用户数-->
				<div class="col-md-6 orders">
					<div class="col-md-9 col-md-offset3">
						<h2>
							<span><img src="" alt="icon"></span>
							订单业务用户数
						</h2>
						<div class="col-md-12">
							564601
						</div>
					</div>
				</div>
				<!--//订单业务用户数-->
				<!--光网端口覆盖率-->
				<div class="col-md-6 light-network">
					<div class="col-md-9 col-md-offset3">
						<h2>
							<span><img src="" alt="icon"></span>
							光网端口覆盖率
						</h2>
						<div class="col-md-12" id="js-light-network" style="height:200px;">
						</div>
					</div>
				</div>
				<!--//光网端口覆盖率-->
			</div>
		</div>
	</div>
	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="components/requirejs/require.js"></script>
	<script src="js/page1.js"></script>
</body>

</html>