<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>[[title]]</title>
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/page2.css">
</head>

<body>
	<div class="container-fluid">
		<!--订单业务数-->
		<div class="col-lg-6 component-6">
			<div class="row">
				<div class="col-lg-2 text-right">
					<img src="/img/page2/page2_03.png" alt="">
				</div>
				<div class="col-lg-10">
					<div class="col-lg-6 text-left">
						<h2>订单业务数</h2>
					</div>
					<div class="col-lg-6 text-right">
						<ul class="list-inline">
							<li><span></span>宽带</li>
							<li><span></span>固网</li>
							<li><span></span>移动</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="col-lg-12">
						<div id="js-all-year-deselect"></div>
						<h3 class="text-center">全年装机数</h3>
						<hr>
					</div>
					<div class="col-lg-12">
						<h3 class="text-center">全年拆机数</h3>
						<hr>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="col-lg-12" id="js-all-day-indent">
					</div>
					<div class="col-lg-12" id="js-all-day-indent">
					</div>
				</div>
			</div>
		</div>
		<!--//订单业务数-->
		<!--宽带订单业务数-->
		<div class="col-lg-6 component-6">

		</div>
		<!--//宽带订单业务数-->
		<!--固话订单业务数-->
		<div class="col-lg-6 component-6">

		</div>
		<!--//固话订单业务数-->
		<!--移动订单业务数-->
		<div class="col-lg-6 component-6">

		</div>
		<!--//移动订单业务数-->
	</div>
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/bootstrap/bootstrap.min.js"></script>
	<script src="lib/echarts/echarts.js"></script>
	<script src="lib/requirejs/require.js"></script>
	<script src="js/page2.js"></script>
</body>

</html>